.main {
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.logo {
    margin: 16px 8px 16px;
}

.menu ul {
    list-style: none;
    display: flex;
    margin-top: 35px;
}

.menu a {
    text-decoration: none;
    margin: 0 22px;
    text-decoration: none;
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    font-variant: small-caps;
}

.menu a:hover {
    color: #bc2326;
}

.social {
    display: flex;
    margin-top: 35px;
}

.indent {
    margin: 0 24px;
}

.indent li {
    list-style: none;
}

.indent a {
    color: black;
    font-size: 21px;
}

.indent a:hover {
    color: #bc2326;
}

.custom-row {
    margin: 0;
}

.about-catering {
    text-align: center;
    margin: 2% 0;
}

.title-text {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: 400;
}

.what-catering {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
}

.position-first-line {
    margin: 38px 0 20px 0;
}

.position-second-line {
    margin: 20px 0 57px 0;
}

.image-first {
    background: url(../images/wedding1.png);
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;
    background-size: cover;
}

.image-second {
    background: url(../images/banket2.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 38px;
}

.image-third {
    background: url(../images/table3.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 38px;
}

.image-four {
    background: url(../images/furshet4.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 38px;
}

.image-five {
    background: url(../images/barbeque5.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 38px;
}

.image-six {
    background: url(../images/cofee6.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 38px;
}

.white-circle {
    background: #ffffffc2;
    width: 210px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    font-variant: small-caps;
}

.center-circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-circle:hover {
    color: #bc2326;
    border: 1px solid;
}

.maximum {
    max-width: 100%;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin-bottom: 3%;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 35%;
    left: 0;
  }
  
  .hovereffect img {
    width: 100%;
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  
  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .hovereffect h1 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    padding: 10px;
  }

  .hovereffect h6 {
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    color: #ffffff;
    line-height: 36px;
    letter-spacing: 2px;
  }
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 10px 14px;
    border: 3px solid #bc2336;
    width: 300px;
    height: 55px;
    margin: 50px 0 0 0;
    background-color: transparent;
  }
  
  .hovereffect a.info:hover {
    box-shadow: 0 0 8px #bc2326;
  }
  
  .hovereffect a.info, .hovereffect h1 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
    text-transform: uppercase;
  }

  .hovereffect a.info, .hovereffect h6 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
  }
  
  .hovereffect:hover a.info, .hovereffect:hover h1 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .hovereffect:hover a.info, .hovereffect:hover h6 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .adress {
    height: 246px;
    border: 1px solid #d0d0d0;
    background-color: #000000;
  }

  .adress-name {
    color: #ffffff;
    font-family: Lobster;
    display: -webkit-box;
    text-align: -webkit-center;
    margin-top: 25px;
  }

  .adress-and-contacts {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 0.5;
    margin: 25px 0 30px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-variant: small-caps;
  }

  .social-adresses {
    display: flex;
    justify-content: center;
  }

.social-adresses li {
    list-style: none;
    padding: 0 10px;
}

  .social-adresses a {
    color: #ffffff;
  }

  .social-adresses a:hover {
      color: #bc2326;
  }

  @media screen and (max-width: 1180px){
      .menu {
          display: none;
      }
  }

  @media screen and (max-width: 960px){
      .what-catering {
        max-width: 80%;
        margin: 0 auto;
      }
  }
